{% extends 'base.html' %}
{% block body %}
<div class="row">
<div class="col-8">
  {% for key,value in object_dict.items %}
  {% if value %}
  <h1 align="center">{{key}}</h1>

  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name Of Mobile</th>
      <th scope="col">Price(In Rs.)</th>
      <th scope="col" style="text-align:center;">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for k in value %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{k.name}}</td>
      <td>{{k.price}}</td>
      <td style="text-align:center;"><a href="{% url 'product_info' k.category k.id k.seller.id %}">See More</a><form method="POST" class="my-2" action="/complete_your_payment/">{% csrf_token %} <input type="hidden" value="{{k.id}}" name="product_id"> <input type="hidden" name="quantity" value="1"> <input type="Submit" value="Buy Now" class="btn btn-primary btn-sm mx-2" ></form></td>

    </tr>
{% endfor %}
  </tbody>
</table>
  {% else %}
  <p align="center">You have a category as {{key}} in which there is no product present in database</p>
  {% endif %}

  {% endfor %}


{% if empty_products %}
  <h1 align="center">Available Soon Products/Out of Stock : </h1>
<table class="table table-dark">
  <thead>
    <tr>

      <th scope="col" style="text-align:center;">Product</th>

    </tr>
  </thead>
  <tbody>
  {% for i in empty_products %}
    <tr>

      <td style="text-align:center;">{{i.product}}</td>

    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

</div>
<div class="col">
  <form method="POST" action="{% url 'handle_filtering' %}">
    {% csrf_token %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col" colspan="2" style="text-align:center;">Filtering</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td style="text-align:center;"><input type="number" style="width:75px;" class="mx-1" name="min_price" placeholder="min"><input type="number" style="width:75px;" name="max_price" placeholder="max"></td>
    </tr>
    {% if object_dict %}
    {% for key,val in object_dict.items %}
    <tr>
      <td>{{key}}</td>
      <td style="text-align:center;"><input type="checkbox" name="category_{{key}}" value="1"></td>
    </tr>
  {% endfor %}
  {% endif %}
  <tr>
    <td>Discount</td>
    <td><input type="range" class="form-range" min="0" max="100" name="discount_range" id="discount_range" onchange="discount()"><span id="discount"></span></td>
  </tr>
  </tbody>
</table>
    <input type="submit" value="Filter" class="btn btn-primary btn-sm">
      </form>

</div>
  </div>

   {% endblock body %}
{% block javascript %}
<script>
  function discount(){
  var text=document.getElementById("discount_range").value;
    document.getElementById("discount").innerHTML=`${text} %`;
  }

</script>
{% endblock javascript %}