{% extends 'base.html' %}
{% block title %} Orders {% endblock title %}
{% block body %}
<div class="container">
    {% if pending_orders %}
    <h1 align="center">Pending Orders </h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Shipped By </th>
    </tr>
  </thead>
  <tbody>
  {% for i in pending_orders %}
    <tr>

      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.product.name}}</td>
      <td>{{i.payment_method}}</td>
      <td>{{i.shipment.name_of_company}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    {% else %}
        <p align="center">You don't have any pending orders</p>
    {% endif %}
    {% if delivered_orders %}
    <h1 align="center">Previous Orders</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Shipped By </th>
    </tr>
  </thead>
  <tbody>

  {% for i in delivered_orders %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.product.name}}</td>
      <td>{{i.payment_method}}</td>
      <td>{{i.shipment.name_of_company}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% else %}
    You dont have any previous orders
    {% endif %}
    </div>
{% endblock body %}